.container {
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 466px;
    height: 466px;
    flex-direction: column;
}

.head {
    width: 466px;
    height: 60px;
    background-color: #202050;
    justify-content: center;
    align-items: flex-end;
}

.title {
    font-size: 30px;
    text-align: center;
    width: 466px;
    height: 45px;
}

.dataRow {
    width: 466px;
    height: 60px;
    background-color: transparent;
}

.percentRow {
    justify-content: center;
    width: 466px;
    height: 60px;
    margin-bottom: 30px;
    background-color: transparent;
}

.imgFlow {
    width: 60px;
    height: 26px;
    margin-top: 27px;
    margin-left: 10px;
    margin-right: 10px;
}

.imgCharge {
    width: 60px;
    height: 47px;
    margin-top: 16px;
    margin-left: 40px;
}

.imgUptime {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 10px;
}

.percentFrom, .percentTill {
    height: 60px;
    padding-top: 18px;
}
.percentTill {
    padding-right: 30px;
}

.info-text {
    height: 60px;
    padding-top: 18px;
    padding-left: 20px;
}

.stackItem {
    width: 466px;
    height: 406px;
    text-align: center;
}

.loading, .swiper {
    width: 466px;
    height: 406px;
    background-color: rgba(0,0,0,0);
    flex-direction: column;
}
.info {
    width: 466px;
    height: 406px;
    padding-top: 30px;
    background-color: #222222;
    flex-direction: column;
}
.loading-text {
    width: 466px;
    height: 60px;
    padding-top: 20px;
    text-align: center;
}

.listData {
    width: 466px;
    height: 406px;
    background-color: #101010;
    flex-direction: column;
}

.listItem {
    width: 466px;
    height: 80px;
    justify-content: center;
}

.itemBack {
    left: 30px;
    width: 393px;
    height: 80px;
    text-align: center;
}

.itemName {
    left: 20px;
    top: 18px;
    width: 426px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.popupMenu {
    width: 466px;
    height: 406px;
    background-color: rgba(0,0,0,0.8);
    flex-direction: column;
    align-items: center;
}
.menuButton {
    margin-top: 50px;
    width: 266px;
    height: 100px;
    background-color: midnightblue;
}
