.container {
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 466px;
    height: 466px;
    flex-direction: column;
}

.head {
    width: 466px;
    height: 60px;
    background-color: #202050;
    justify-content: center;
    align-items: flex-end;
}

.title {
    font-size: 30px;
    text-align: center;
    width: 466px;
    height: 45px;
}

.info {
    width: 400px;
    height: 20px;
    background-color: darkblue;
}

.stackItem {
    width: 466px;
    height: 406px;
    text-align: center;
}

.loading {
    width: 466px;
    height: 406px;
}

.loading-text {
    width: 466px;
    height: 40px;
    margin-top: 150px;
    text-align: center;
}

.chart {
    width: 466px;
    height: 406px;
    background-color: rgba(0,0,0,0);
    align-items: center;
    justify-content: center;
}
.stackChart {
    width: 466px;
    height: 406px;
}

.levelStart, .levelEnd {
    top:270px;
    width: 60px;
    height: 50px;
    font-size: 22px;
}
.levelStart {
    left: 50px;
}

.levelEnd {
    left: 360px;
}

.levelMax, .levelMin {
    font-size: 22px;
}
.drain {
    top: 40px;
    left: 60px;
    font-size: 26px;
}

.chartDay {
    width: 360px;
    height: 150px;
    margin-bottom: 20px;
/*    background-color: #101020;*/
}

.itemName {
    left: 20px;
    top: 18px;
    width: 426px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.legend {
    left:150px;
    top:290px;
    height: 200px;
    width: 466px;
    flex-direction: column;
}
.legend-text {
    font-size: 22px;
}
.zone {
    height: 25px;
    width: 466px;
}
.zone1, .zone2, .zone3 {
    width: 30px;
    height: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.zone1 {
    background-color: #1780b0;
}
.zone2 {
    background-color: #176090;
}
.zone3 {
    background-color: #174070;
}
